body{
    background:black;
}
#top{
    background-image:url('bg1.jpg');
    height:100vh;
    min-height:600px;
    width:100%;
    overflow:hidden;
}
#mid{
    background-image:url('bg3.jpg');
    height:100vh;
    min-height:600px;
    width:100%;
    overflow:hidden;
}
#tipCalc{
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    min-height:350px;
    min-width:300px;
    width:30%;
    background:rgb(20,20,20);
    padding-top:20px;
    border-radius:20px;
    text-align:center;
    color:white;
}
#tipCalc input{
    margin-left:75;
    margin-right:75;
    background:rgba(255,255,255,0.1);
    border-radius:10px;
    border:none;
    width:50%;
    margin-top:20px;
    text-align:center;
    color:grey;
}
#tipCalc button{
    margin-left:75px;
    margin-right:75px;
    width:25%;
    margin-top:40px;
    background:rgba(255,255,255,0.2);
    color:white;

}
#bot{
    background-image: url('bg2.jpg');
    height:100vh;
    min-height:600px;
    width:100%;
    overflow:hidden;
}

#topNavBar{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    background:black;
    z-index:999;
}
#botNavBar{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:25px;
    background:black;
    z-index:999;
    text-align:center;
    display:none;
}
#topNavBar button{
    background:none;
    color:white;
    border:none;
}
#botNavBar button{
    background:none;
    color:white;
    border:none;
}
#goToTop{

}
#goToMid{
    float:left;
}
#goToBot{
    float:right;
}
#amtPerPerson{
    color:white;
}
.hide{
    display:none;
}
#hangman{
    margin-top:0px;
    min-width:300px;
    width:40%;
    min-height:400px;
    height:50vh;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    background:rgb(150,150,150);
    border-radius:20px;
}
#hangman button{
    margin-left:auto;
    margin-right:auto;
    background:white;
    border:1px solid black
    box-shadow:none;
}
#hangman button:hover{
    background:DodgerBlue;
}
#hangman input{
    margin-left:auto;
    margin-right:auto;
    background:white;
    border:1px solid black
    box-shadow:none;
}
#blanks{
    letter-spacing:1.3rem;
}
#botGame{
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    min-height:500px;
    min-width:300px;
    width:50%;
    background:black;
    color:white;
    text-align:center;
}
